Package: com.mpg13.FlashBack
Name: FlashBack
Depends: mobilesubstrate
Version: 1.0-beta3
Architecture: iphoneos-arm
Description: Change the way we do setups.
Homepage: https://flashback.github.io
Depiction: https://flashback.github.io/depicts/com.mpg13.flashback.html
Maintainer: MPG13 <micahplacido@gmail.com>
Author: MPG13 <micahplacido@gmail.com>
Section: Tweaks
